# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local files
/local
/node_modules

# IDE Settings
.vscode/launch.json

# Resources
/UdonModuleInfo.json
