# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# Node
/node_modules

# Shiroa
/dist

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local files
/local

# IDE Settings
.vscode/launch.json

# Resources
/UdonModuleInfo.json